<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render(
        "~/Content/bootstrap.css",
        "~/Content/DayOne.css"
    )@Scripts.Render(
        "~/Scripts/jquery-1.10.2.js",
        "~/Scripts/bootstrap.js"
    )@RenderSection("headers", false)
    <script type="text/javascript"> @RenderSection("scripts", false) </script>
</head>

@functions{
    public string activeCss(string paths)
    {
        bool flg = false;
        foreach (string path in paths.Split('|'))
        {
            if (path == "~")
            {
                if (Request.Path.ToLower() == Url.Content(path).ToLower())
                    flg = true;
            }
            else
            {
                if (Request.Path.ToLower().StartsWith(Url.Content(path).ToLower()))
                    flg = true;
            }

        }
        return flg ? "active" : string.Empty;
    }
}
<body class="index" ng-app="ngApp">
    <section>
        <div class='navbar ' role='navigation'>
            <div class="head">
                <div class='container'>

                    <div class='navbar-header'>
                        <div class='pull-right'>
                            <ul class='nav navbar-nav'>
                                <li class="">@Html.ActionLink("首页", "Index", "Home")</li>
                                <li class="">@Html.ActionLink("日计划", "Index", "DayPlan")</li>
                                <li class="">@Html.ActionLink("笔记本", "NoteBook", "NoteBook")</li>
                                <li class="">@Html.ActionLink("分享", "Share", "Share")</li>

                                @{
                                    if (Request.IsAuthenticated)
                                    {
                                        <li class="">
                                            <a href="~/Home/UserInfo"><span class="glyphicon glyphicon-user small" id="userlogo" color="white"></span>&nbsp;@HttpContext.Current.User.Identity.Name</a>
                                        </li>
                                        <li class="">@Html.ActionLink("注销", "Logout", "Home")</li>
                                    }
                                    else
                                    {
                                        <li class="">@Html.ActionLink("登陆", "Login", "Home")</li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    @RenderBody()
</body>


</html>
